@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:ital,wght@1,300&display=swap');

:root{
    --primary_color: #F80046;
    --white: #FFF;
    --logo_font: 'Agbalumo';
}

body{
    font-family: 'Roboto';
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.revert{
    all: revert;
}

.workpage{
    margin: 3%;
}

.homepage{
    background-image: url('../IMG/concert_img.jpg');

}


.centered{
    text-align: center;
    padding: 20px;
}


.title{
    font-family: var(--logo_font);
    color: var(--primary_color);
    font-size: 600%;
}


.searchbar{
    border: var(--primary_color) solid 2px;
    border-radius: 5px;
    padding: 15px;
    width: 50%;
    font-size: 105%;
}

.searchbtn{
    border: var(--primary_color) solid 2px;
    border-radius: 5px;
    padding: 15px;
    background-color: var(--primary_color);
    color: var(--white);
    font-size: 105%;
}

.searchbtn:hover{
    cursor: pointer;
}

input:focus, textarea:focus {
    outline: none;
    border: var(--primary_color) solid 2px;
}

.topbar{
    background-color: var(--primary_color);
    padding: 5px;
    display: flex;
    width: 100%;
   
}

.topbar_logo{
    font-family: var(--logo_font);
    margin: 0;
    padding: 0;
    margin-left: 2%;
}

.logo_btn{
    color: var(--white);
    text-decoration: none;
}

.topbar_logo:hover{
    cursor: pointer;
}


.topbar_search{
    border: lightgray 2px solid;
    border-radius: 5px;
    padding: 2px;
    width: 35%;
    justify-content: center;
    margin-left: 20%;
}

.topbar_searchbtn{
    background-color: var(--white);
    border: solid 2px lightgray;
    border-radius: 5px;
    padding: 2px;
    width: 5%;
    margin-left: 2px;
    
}

.topbar_searchbtn:hover{
    cursor: pointer;
}

.botbar{
    position: fixed;
    background-color: var(--primary_color);
    padding: 5px;
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;
    
}

.botbar_link{
    color: var(--white);
    text-decoration: none; 
    font-size: 0.8em;   
}

.botbar_link:hover{
    cursor: pointer;
}

.form_highlight{
    color: var(--primary_color);
    font-family: var(--logo_font);
    font-style: italic;
}

.dataform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dataform_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

.dataform_field{
    margin-top: 0.75%;
}

.hidden{
    display: none;
}

.show_form_btn{
    all: revert;
    background-color: var(--primary_color);
    color: var(--white);
    border: var(--primary_color) solid 2px;
    border-radius: 5px;

}

/* Form Container */

.form-container{
  width: 93%;
  margin: 20px auto;
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.form-container label{
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-container input[type="email"],
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="number"],
.form-container input[type="file"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*Form container button*/
.form-container button{
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #E30613;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* MAPS */
.sb-title {
    position: relative;
    top: -12px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
  }

  .sb-title-icon {
    position: relative;
    top: -5px;
  }

  .card-container {
    display: flex;
    height: 500px;
    width: 600px;
  }

  .panel {
    background: white;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .half-input-container {
    display: flex;
    justify-content: space-between;
  }

  .half-input {
    max-width: 120px;
  }

  .map {
    width: 300px;
  }

  h2 {
    margin: 0;
    font-family: Roboto, sans-serif;
  }

  input {
    height: 30px;
  }

  input {
    border: 0;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  input:focus::placeholder {
    color: white;
  }